body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #F6EDE3;
  position: relative; }

body::after {
  content: "";
  background-image: url("../img/background.jpg");
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.container {
  opacity: 90%; }

img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1; }

.imgContainer {
  max-width: 100%;
  height: 17em;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.card {
  background-color: #F6EDE3;
  border: 0;
  margin: 1rem;
  box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.6);
  min-height: 350px; }

.card-body {
  padding: 0; }

.button-square {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: #ae8be2 !important; }

.button-square:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: #bea6e5 !important; }

.button-square:focus {
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: #E6C17A !important; }

h1,
h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

h2 {
  color: #404041; }

.site-footer {
  background-image: linear-gradient(to left, #E6C17A, #D3CAE2);
  padding: 30px 0; }

.jumbotron {
  margin: 0;
  padding: 20px 0px 20px;
  background-image: linear-gradient(to right, #E6C17A, #D3CAE2);
  color: #404041; }

.row-content {
  padding: 1rem 0;
  border-top: 2px solid #D3CAE2;
  min-height: 300px; }

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  color: #404041;
  border-radius: 5px; }

.breadcrumb {
  background-color: rgba(0, 0, 0, 0.05); }

.carousel {
  border: 0;
  padding: 0; }

.carouselInner {
  padding: 1rem; }

@media (min-width: 768px) {
  .instrumentCarousel .carousel-inner {
    display: flex; }
  .instrumentCarousel .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(33.333333%); } }

.instrumentCarouselImg img {
  width: auto;
  height: 350px;
  max-height: 350px; }

.modal .modal-header {
  background-image: linear-gradient(to right, #E6C17A, #D3CAE2); }

.modal .modal-body {
  background-color: #F6EDE3; }

.btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #404041; }

.btn:hover {
  transition-timing-function: ease-in-out;
  transition: width 2s; }

.button-dark {
  background-color: rgba(0, 0, 0, 0.2); }

.button-dark:hover {
  background-color: #6c6b6b; }

.button-dark:focus {
  box-shadow: 0 0 0.5rem #989595; }

.button-mid {
  background-color: #E6C17A; }

.button-mid:hover {
  background-color: #e0b566; }

.button-mid:focus {
  box-shadow: 0 0 0.5rem #e6a22c; }

.button-bright {
  background-color: #F6EDE3; }

.button-bright:hover {
  background-color: #bea6e5; }

.button-bright:focus {
  box-shadow: 0 0 0.5rem #ae8be2; }

a {
  color: #404041; }

a:hover {
  color: #6c6b6b; }

a:focus {
  color: #989595; }

#repairButton {
  width: 100%; }

#repairContainer {
  padding: 0; }
  #repairContainer:active {
    box-shadow: 0rem 0rem 1rem #989595; }

.activated {
  box-shadow: 0rem 0rem 0.5rem 0.5rem #D3CAE2; }

.title {
  background-color: #E6C17A;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.5rem; }

#loginCard {
  min-width: 32rem; }

#teacherCard {
  min-width: 28rem; }

.link {
  color: #E6C17A; }

.link:hover {
  color: #e0b566; }

.link:focus {
  color: #e6a22c; }
