$font-body: Verdana, Geneva, Tahoma, sans-serif;
$font-h: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-button: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$color-black: rgba(0, 0, 0, 0.6);
$color-black-transparent: rgba(0, 0, 0, 0.2);
$color-transparent: rgba(0, 0, 0, 0.05);

$color-background: #F6EDE3;
$color-text: #404041;
$color-gradient-first: #E6C17A;
$color-gradient-second: #D3CAE2;

$color-dark-hover: #6c6b6b;
$color-mid-hover: #e0b566;
$color-bright-hover: #bea6e5;

$color-dark-focus: #989595;
$color-mid-focus: #e6a22c;
$color-bright-focus: #ae8be2;

body {
    font-family: $font-body;
    background-color: $color-background;
    position: relative;
}

body::after {
    content: "";
    background-image: url("../img/background.jpg");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container {
    opacity: 90%;
}

img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}

.imgContainer {
    max-width: 100%;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    background-color: $color-background;
    border: 0;
    margin: 1rem;
    box-shadow: 15px 5px 15px $color-black;
    min-height: 350px;
}

.card-body {
    padding: 0;
}

.button-square {
    border-radius: 0;
    background-color: $color-black !important;
    color: $color-bright-focus !important;
}

.button-square:hover {
    background-color: $color-black-transparent !important;
    color: $color-bright-hover !important;
}

.button-square:focus {
    background-color: $color-black !important;
    color: $color-gradient-first !important;
}

h1,
h2,
h3 {
    font-family: $font-h;
}

h2 {
    color: $color-text;
}

.site-footer {
    background-image: linear-gradient(to left, $color-gradient-first, $color-gradient-second);
    padding: 30px 0;
}

.jumbotron {
    margin: 0;
    padding: 20px 0px 20px;
    background-image: linear-gradient(to right, $color-gradient-first, $color-gradient-second);
    color: $color-text;
}

.row-content {
    padding: 1rem 0;
    border-top: 2px solid $color-gradient-second;
    min-height: 300px;
}

.navbar {
    background-color: $color-black-transparent;
    color: $color-text;
    border-radius: 5px;
}

.breadcrumb {
    background-color: $color-transparent;
}

.carousel {
    border: 0;
    padding: 0;
}

.carouselInner {
    padding: 1rem;
}

@media (min-width:768px) {

    .instrumentCarousel {
        .carousel-inner {
            display: flex;
        }

        .carousel-item {
            display: block;
            margin-right: 0;
            flex: 0 0 calc(33.333333%);
        }
    }
}

.instrumentCarouselImg img {
    width: auto;
    height: 350px;
    max-height: 350px;
}

.modal {
    .modal-header {
        background-image: linear-gradient(to right, $color-gradient-first, $color-gradient-second);
    }

    .modal-body {
        background-color: $color-background;
    }
}

.btn {
    font-family: $font-button;
    color: $color-text;
}

.btn:hover {
    transition-timing-function: ease-in-out;
    transition: width 2s;
}

.button-dark {
    background-color: $color-black-transparent;
}

.button-dark:hover {
    background-color: $color-dark-hover;
}

.button-dark:focus {
    box-shadow: 0 0 0.5rem $color-dark-focus;
}

.button-mid {
    background-color: $color-gradient-first;
}

.button-mid:hover {
    background-color: $color-mid-hover;
}

.button-mid:focus {
    box-shadow: 0 0 0.5rem $color-mid-focus;
}

.button-bright {
    background-color: $color-background;
}

.button-bright:hover {
    background-color: $color-bright-hover;
}

.button-bright:focus {
    box-shadow: 0 0 0.5rem $color-bright-focus;
}

a {
    color: $color-text;
}

a:hover {
    color: $color-dark-hover;
}

a:focus {
    color: $color-dark-focus;
}

#repairButton {
    width: 100%;
}

#repairContainer {
    padding: 0;

    &:active {
        box-shadow: 0rem 0rem 1rem $color-dark-focus;
    }
}

.activated {
    box-shadow: 0rem 0rem 0.5rem 0.5rem $color-gradient-second;
}

.title {
    background-color: $color-gradient-first;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.5rem;
}

#loginCard {
    min-width: 32rem;
}

#teacherCard {
    min-width: 28rem;
}

.link {
    color: $color-gradient-first;
}

.link:hover {
    color: $color-mid-hover;
}

.link:focus {
    color: $color-mid-focus;
}